In [157]:
        #ASSIGNMENT ON SEQUENCE#
    # CREATING LIST
mylist = [1,2,3,4,'a','b','c','D']
    # CREATING SECOND LIST
list_1 = ['DICKSON', 'MIKE', 1, 3,77, 'B' ]

# Printing the LIST - mylist and list_1
print(mylist)
print (list_1)
print("=========================================")

#Accessing an element in a list - is like using indexing []
print(mylist[:6])
access_list = mylist[5]
print(access_list)
print(list_1[1], "<-- result of accessing element '1' on the name List_1 ")

# REPLACING AN ELEMENT IN A LIST e.g - list_1
mylist[4] = 'APPLE'
print(mylist, "   <-- 'a' has been replaced by 'APPLE'")

[1, 2, 3, 4, 'a', 'b', 'c', 'D']
['DICKSON', 'MIKE', 1, 3, 77, 'B']
=========================================
[1, 2, 3, 4, 'a', 'b']
b
MIKE <-- result of accessing element '1'
[1, 2, 3, 4, 'APPLE', 'b', 'c', 'D']    <-- 'a' has been replaced by 'APPLE'

In [76]:
    # MORE ON REPLACING AND ELEMENT ON - LIST
list2 = ["JAMAL", 23, 22.5, 'KESSY']
list2
    # REPLACING THE ELEMENT "  [1] to 'KING' "
list2[1] = "KING"
list2

['JAMAL', 'KING', 22.5, 'KESSY']

In [45]:
# TO ADD AN ELEMTNT TO THE LIST
list3 = ["JAMAL", 23, 22.5, 'KESSY']
list3.append('GOAT')
print(list3)

['JAMAL', 23, 22.5, 'KESSY', 'GOAT']

In [11]:
list3 = ["JAMAL", 23, 22.5, 'KESSY']
list3.remove(22.5)
list3

['JAMAL', 23, 'KESSY']

In [13]:
# INSERTING METHOD in a LIST
list4 = ["JAMAL", 23, 22.5, 'KESSY']
list4.insert(2, "QUEEN")
list4

['JAMAL', 23, 'QUEEN', 22.5, 'KESSY']

In [15]:
# SORT METHOD IN A LIST - NOTE: You cannot sort with the combination of STRING and INT
list5 = ["JAMAL", 23, 22.5, 'KESSY']
list5.sort()
list5

TypeError: '<' not supported between instances of 'int' and 'str'

In [41]:
#-------------------------------------------------------------------------
# TUPLE = CREATING A TUPLE
myTuple_1 = (2, "RICE", 14.4, [3, "APPLE"])
myTuple_1

# CREATING ANOTHER TUPLE THAT ALLOWS ONLY 1 ARGUMENT
myTuple_D = tuple(['CARS', 'FRUITS'])
print(myTuple_D)

('CARS', 'FRUITS')

In [27]:
# CREATING A SINGLE TUPLE - Notice the comma ,
single_tuple1 = (4)
single_tuple2 = ("ocean")

single_tuple1

4

In [37]:
# Accessing Tuple Element and SLICING
myTuple2 = ('LUCKY', 6, ['APPLE', 'TANGERING', 70,])
print(myTuple2[-1])
print(myTuple2[1:2])

['APPLE', 'TANGERING', 70]
(6,)

In [19]:
# CONCATENATION IN TUPLE - USING + and *
tup_C = (4, 6, 7,) 
tup_D = (1, 3, 5,)

print(tup_C + tup_D, " <=== Concatenating using + operator")
print(tup_C + tup_D, " <=== Concatenate using * operator")

(4, 6, 7, 1, 3, 5)  <=== Concatenating using + operator
(4, 6, 7, 1, 3, 5)  <=== Concatenate using * operator

In [49]:
# CONCATENATION IN LIST - USING + and *

a_List = [2, 3, 4]
b_List = [1, 5, 6]

print(a_List + b_List)

[2, 3, 4, 1, 5, 6]

In [29]:

# PASSING F'STRING INSIDE A TUPLE'
tup_A = (4, 5, 6,) 
tup_B = (1, 2, 5,)
name = 'King'

print(tup_A + tup_B, f"my name is {name}")

(4, 5, 6, 1, 2, 5) my name is King

In [59]:
# MEMBERSHIP IN A LIST OR TUPLE

# checking if 3 is an element in Tuple = tup_A
print(3 in tup_A, "     <== result of finding 3 in a TUPLE")
print(5 in b_List, "      <== result of finding 5 in a LIST")

False      <== result of finding 3 in a TUPLE
True       <== result of finding 5 in a LIST

In [37]:
# Checking the Lenght of Tuple = tup_A
len(tup_A)

3

In [43]:
# Checking the Minimum and Maximum of Tuple = tup_A and tup_B
print(min(tup_A), " <===  ")
print(max(tup_B))

4
5