In [3]:
#================= SET ==========================
# CREATING SET with a Constructor - set()
my_set = set(['james', 'king', 'orange'])

print(my_set)
#===============================================================================================
# CREATING SET WITH CURL BRACK { }
set_a = {1, 2, 3, 4, 5}
set_b = {2, 4, 6, 7,}
#===============================================================================================

# MEMBER TESTING - ACCESSING A SET WITH IF STATEMENT - 
# my_set = set(['james', 'king', 'orange'])
if "Lucky" in my_set:
    print(f"Yes James is there")
else:
    print("That name is not in the list")
#==============================================
if 2 in set_a:
    print("Yes 2 is found in set_a")
#===============================================================================================    

# MODIFYING A SET WITH  .add and   <====>  .update([ ]) adding more than 1 element
# my_set = set(['james', 'king', 'orange'])

my_set.add('LEKAN')
print(my_set)

my_set.update(['MIKE', 'MARTINS', 'MATTHEW'])
my_set

{'james', 'king', 'orange'}
That name is not in the list
Yes i can find 2 is the set_a
{'LEKAN', 'james', 'king', 'orange'}

{'LEKAN', 'MARTINS', 'MATTHEW', 'MIKE', 'james', 'king', 'orange'}

In [6]:
# COMBING | UNION OF A SET
#  set_a = {1, 2, 3, 4, 5}   set_b = {2, 4, 6, 7,}
com_union = set_a | set_b
print(com_union, "<----  Result of a Union or Combination of a Sets ")

{1, 2, 3, 4, 5, 6, 7} <----  Result of a Union or Combination of a Sets

In [7]:
# DIFFERENCE  ( - ) OF A SET

diff_set = set_a - set_b
print(diff_set, "    <-----  Result of a 'Difference' in both 'set_a & set_b'")

{1, 3, 5} Result of a Difference in bothe 'set_a & set_b'

In [9]:
# INTERCEPT OF A SET  ' & '
#  set_a = {1, 2, 3, 4, 5}   set_b = {2, 4, 6, 7,}
intr_set = set_a & set_b
print(intr_set, "   <---- Result of an INTERCEPT of a Sets")

{2, 4}    <---- Result of an INTERCEPT of a Sets

In [15]:
# SYMMETRIC DIFF - USING 'SYMMETRIC DIFFERENCE '  or ' ^ ' OF A SET
#  set_a = {1, 2, 3, 4, 5}   set_b = {2, 4, 6, 7,}

symDiff_set = set_a ^ set_b
symDiff_set1 = set_a.symmetric_difference(set_b)

print(symDiff_set, "Symmetric diff using '^'")
print(symDiff_set1)

{1, 3, 5, 6, 7} Symmetric diff using '^'
{1, 3, 5, 6, 7}

In [34]:
# REMOVING AN ELEMENT -- .remove ,  .discard, .clear .
mysets = {"dave", "anderson", "richard"}
mysets1 = {44, 55, 66, 77, 'ade'}

print(mysets.remove('richard'))

None

In [31]:
# The discard methods will do nothing if 'what is meant to be discarded is not found
# Unlike remove - which will throe errors
mysets.discard('daves')

In [30]:
# . Clear - will remove all element in the sets
# mysets1 = {44, 55, 66, 77, 'ade'}

mysets1.clear

In [36]:
### TASK
""" Task 1: Set Creation
Create a set variable called fruits that contains the following fruit names:

"apple"
"banana"
"cherry"
"date"
Print the entire set.

Task 2: Accessing Elements
Convert the set to a list and print the first element of the list.
Check if "banana" is in the set and print the result.
"""

' Task 1: Set Creation\nCreate a set variable called fruits that contains the following fruit names:\n\n"apple"\n"banana"\n"cherry"\n"date"\nPrint the entire set.\n\nTask 2: Accessing Elements\nConvert the set to a list and print the first element of the list.\nCheck if "banana" is in the set and print the result.\n'

In [37]:
fruits = {'apple', 'banana', 'date', 'cherry'}
print(fruits)

{'banana', 'apple', 'cherry', 'date'}

In [41]:
# Task 2 - Converting the set to a LIST

covt_list_1stElem = list(fruits)
covt_list_1stElem

['banana', 'apple', 'cherry', 'date']

In [42]:
# After conversion, printing the 1st Element in that LIST.

first_Element = covt_list_1stElem[0]
first_Element

'banana'

In [45]:
if 'banana' in covt_list_1stElem:
    print(covt_list_1stElem)

['banana', 'apple', 'cherry', 'date']

In [46]:
if 'banana' in fruits:
    print(fruits)

{'banana', 'apple', 'cherry', 'date'}