In [9]:
# CREATING STRING
    # SINGLE QUOTE STRING
string1 = 'My name is DICKSON'

        # DOUBLE QUOTE STRING
string2 = "DicksonBlak is here to learn simple Python code"

            # TRIPPLE QUOTE STRING
string3 = '''HELLO WORLD
PYTHON IS A GOOD CODE'''

                #creating string using number
string4 = "34"
        # CREATING STRING INCLUSIVE WITH SINGLE QUOTE(')
str_A = "It's a BOY"
    #CREATING STRING WITH LINE BREAK
string5 = "This is the day that that Lord has made\ni will rejoice and be glad in it"

print(string1)
print(string2)
print("------------------------------------------------")
print(string3)
print("------------------------------------------------")
print(string4)
print(type(string4), " <-- print the type of string")
print("------------------------------------------------")
print(str_A)
print("------------------------------------------------")
print("PRINTING MULTIPLE STRING --> ", string3, string1, "and", string2)
print("------------------------------------------------")
print(string5)

My name is DICKSON
DicksonBlak is here to learn simple Python code
------------------------------------------------
HELLO WORLD
PYTHON IS A GOOD CODE
------------------------------------------------
34
<class 'str'>  <-- print the type of string
------------------------------------------------
It's a BOY
------------------------------------------------
PRINTING MULTIPLE STRING -->  HELLO WORLD
PYTHON IS A GOOD CODE My name is DICKSON and DicksonBlak is here to learn simple Python code
------------------------------------------------
This is the day that that Lord has made
i will rejoice and be glad in it

In [51]:
# Converting STRING to FLOAT - like string in Integer value
conv_f = float(string4)
conv_f

34.0

In [7]:
# ACCESSING CHARACTER USING INDEXING
string6 = "LOOKING AT THE WINDOW"
str_acc1 = string6[8]

# SLICING THE STRING
str_acc2 = string6[8:11]
str_acc3 = string6[3:]
str_acc4 = string6[:-5]
print(str_acc1)
print(str_acc2)
print(str_acc3)
print(str_acc4)

A
AT
KING AT THE WINDOW
LOOKING AT THE W

In [36]:
        # STRING METHOD
# CAPITALIZING THE STRING
string7 = "chukwufumnanya is a girl"
print(string7.capitalize(),  "     <---- printing ONLY the First element is string as CAPITAL LETTER")

# CAPITALIZE ALL ELEMENT IN STRING
print(string7.upper(),  "     <---- printing all element is string as CAPITAL LETTERS")

Chukwufumnanya is a girl      <---- printing ONLY the First element is string as CAPITAL LETTER
CHUKWUFUMNANYA IS A GIRL      <---- printing all element is string as CAPITAL LETTERS

In [33]:
# USING MORE STRING METHOD
string8 = "TREASURE IS A GIRL"
print(string8.lower())
print(string8.split())
print(string8.replace("TREASURE", "Ruthy"))

treasure is a girl
['TREASURE', 'IS', 'A', 'GIRL']
Ruthy IS A GIRL

In [35]:
# USING 'F STRING FORMAT'
name = "EMEKA"
height = "4.5'ft'"
age = 34

print(f"My name is {name} and i am as tall as {height}, at te age of {age}.")

My name is EMEKA and i am as tall as 4.5'ft', at te age of 34.